body{
	margin: 0;
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;
}
#header {
	
	align-items: center;
	background-color: orange;
	height: 40px;
	display: flex;
	
	div{
		display: flex;
		box-sizing: border-box;
	}
	
	#header-title {
		padding: 0 20px;
		flex-grow: 1;
		font-size: 23px;
		font-weight: bolder;
		
		a{
			text-decoration: none;
			color: black;
		}
	}
	
	form{
		margin: 0;
		input{
			background-color: inherit;
			border: none;
			text-decoration: underline;
			cursor: pointer;
		}
	}
	
	a {
		margin: 0 10px;
	}
}
