body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column; }

#header {
  align-items: center;
  background-color: orange;
  height: 40px;
  display: flex; }
  #header div {
    display: flex;
    box-sizing: border-box; }
  #header #header-title {
    padding: 0 20px;
    flex-grow: 1;
    font-size: 23px;
    font-weight: bolder; }
    #header #header-title a {
      text-decoration: none;
      color: black; }
  #header form {
    margin: 0; }
    #header form input {
      background-color: inherit;
      border: none;
      text-decoration: underline;
      cursor: pointer; }
  #header a {
    margin: 0 10px; }
