h1{
	text-align: center;
}
h2{
	text-align: center;
}
form{
	margin: auto;
	max-width: 400px;
}
label{
	display: flex;
	flex-direction: column;
}
input{
	margin: 5px 0;
	padding: 2px 5px;
}
button{
	width: 100%;
	height: 30px;
	background-color: orange;
	border: none;
	border-radius: 5px;
	margin-top: 15px;
	cursor: pointer;
}
